
<h1>Our Professionals</h1>

<a href="/site/all-professionals"><button>All sports</button></a>
<a href="/site/all-professionals?sport=crossfit"><button>Crossfit</button></a>
<a href="/site/all-professionals?sport=swimming"><button>Swimming</button></a>
<a href="/site/all-professionals?sport=running"><button>Running</button></a>


{{#each professionals}}

    <div class="professional-card">
        <h2>Name: {{name}}</h2>
        <img class="professional-img {{_id}}" src="{{imageUrl}}" alt="{{name}}" style="width: 50px;"/>  
        <p>Email: {{email}}</p>
        <p>Specialities: {{sport}}</p>
        <a href="/site/professional/{{_id}}">See more</a>
    </div>

{{/each}}