
<h1>Professional details</h1>

<div class="professional-card">

</div>
<h2>Name: {{name}}</h2>
<p>Email: {{email}}</p>
<img class="professional-img" src="{{imageUrl}}" alt="{{name}}" />

<br />
<br />
<h2>Want to leave a review?</h2>
<form action='/site/professional/{{_id}}' method='POST'>

  <textarea type='text' name='comment'></textarea>

  <button type="submit">Send comment</button>

</form>



{{#if reviews}}
<h3>List of reviews:</h3>

{{#each reviews}}

  <h4>Author: {{user.name}}</h4>
  
  <p>Comment: </p>
  <p>{{comment}}</p>

{{/each}}
{{/if}}