
<h1>Professional details</h1>

<div class="professional-card">
  <h2>Name: {{professional.name}}</h2>
  <img class="professional-img" src="{{professional.imageUrl}}" alt="{{professional.name}}" />
  <p>Email: {{professional.email}}</p>
</div>



<h3>List of plans:</h3>

{{#if professional.plans}}

  {{#each professional.plans}}
    {{title}}
    {{description}}
    <img src="{{this.imageUrl}}" alt=""/>
  {{/each}}
{{/if}}


<h2>Want to leave a review?</h2>
{{!-- <div class="rating">
  <i class="rating__star far fa-star"></i>
  <i class="rating__star far fa-star"></i>
  <i class="rating__star far fa-star"></i>
  <i class="rating__star far fa-star"></i>
  <i class="rating__star far fa-star"></i>
</div> --}}


<form action='/site/professional/{{_id}}' method='POST'>

  <textarea type='text' name='comment'></textarea>
  <span class="rating-reaction"></span>

  <button type="submit" class="submit-rating">Send comment</button>

</form>



{{#if professional.reviews}}
<h3>List of reviews:</h3>

{{#each professional.reviews}}

  <h4>Athlete: {{owner.name}}</h4>
  
  <p>Comment: </p>
  <p>{{comment}}</p>
  <img src="../../public/images/image.png" alt="">

{{/each}}
{{/if}}