
<section class="one-main-body">
  <div class="one-professional">
    <h2>Professional details</h2>
    <h3>{{professional.name}}</h3>
    <img class="professional-img" src="{{professional.imageUrl}}" alt="{{professional.name}}" />
    <p>Email: {{professional.email}}</p>
    <h3>Plans</h3>
  </div>
  <div class="plans">
      {{#if professional.plans}}
      {{#each professional.plans}}
      <div class="each-plan">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <a href="{{imageUrl}}"><img src="{{imageUrl}}" alt="plan-image"/></a>
      </div>
     {{/each}}
     {{/if}}

  </div>
  <div>
    <h4>Want to leave a review?</h4>

    <form action='/site/professional/{{professional._id}}' method='POST'>
      <textarea type='text' name='comment' placeholder="We value your feedback!" cols="150" rows="10"></textarea>
      <br>
      <button type="submit" class="filter-btn">Send</button>
    </form>
  </div>
  <div class="reviews">
    {{#if professional.reviews}}
      <h4>Reviews</h4>
      {{#each professional.reviews}}
      <div class="review-details">
        <h5>{{owner.name}}</h5>
        <img src="{{owner.imageUrl}}" alt="{{owner.name}}">
        <p>"{{comment}}"</p>
      </div>
      {{/each}}
    {{/if}}
  </div>
</section>
