<h2>{{user.name}} Profile</h2>

<p>Email: {{user.email}}</p>
<p>Registration: {{user.registrationNumber}}</p>
<p>Speciality: {{user.sport}}</p>

<a href="/plan/new-plan"><button>Create a new plan</button></a>

<h1>Instructor Plans</h1>
{{#each planData}}
<h2>{{title}}</h2>
<p>{{description}}</p>
<p>{{imageUrl}}</p>





<a href="/plan/edit-plan/{{_id}}"><button type="submit">Edit plan</button></a>


<form action="/plan/delete-plan/{{_id}}" method="POST">
  <button type="submit">Delete plan</button>
</form>

{{/each}}

<p>Client reviews:</p>





<a href="/auth/logout"><button style="background: red">LOGOUT</button></a>