<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="layout">
    <nav class='navbar'>
			<div class='navbar-pages'>
				<img src="/images/ProLogo.svg" alt="">
				<a href='/'>Home</a>
				<a class='navbar-link' href='/site/all-professionals'>All Professionals</a>
				<a class='navbar-item' href='/all-sports'>All Sports</a>
			</div>
			<div class='buttons'>
				{{#if user._id}}
				<a href='/site/profile/user'>Athlete Profile</a>
					{{else}}
					<a href='/auth/user-signup'>Athlete SignUp</a>
			
				{{/if}}
				{{#if user._id}}
				<a href='/site/profile/professional'>Professional Profile</a>
					{{else}}
					<a href='/auth/professional-signup'>Professional SignUp</a>
		
				{{/if}}
				{{#if user._id}}
				<a href='/auth/logout'>Logout</a>
					{{else}}
					<a href='/auth/login'>Login</a>
				{{/if}}
			</div>
			<div class='burguer'>
				{{#if user._id}}
				<a href='/site/user-profile'>Athlete Profile</a>
					{{else}}
					<a href='/auth/user-signup'>Athlete SignUp</a>
				{{/if}}
				{{#if user._id}}
				<a href='/site/professional-profile'>Professional Profile</a>
					{{else}}
					<a href='/auth/professional-signup'>Professional SignUp</a>
				{{/if}}
				{{#if user._id}}
				<a href='/auth/logout'>Logout</a>
					{{else}}
					<a href='/auth/login'>Login</a>
				{{/if}}	
			</div>
		</nav>
		<main class="main">
			{{{body}}}
		</main>
		<footer class='footer'>
			<div>
				<p>Made by <a href='https://github.com/rnogales16'>Raul Nogales</a> and <a href='https://github.com/Miki-Geoghegan'>Miki 	Geoghegan</a>.<br>
				At <a href='https://www.ironhack.com/es/barcelona'> 	Ironhack Barcelona</a><br>
				&#128151</p>
			</div>
		</footer>
    <script src="/js/script.js"></script>
  </body>

</html>