<section class="all-profs">
    <h2>CrossFit</h2>
    <div class="cross-sport">
        <div class="sports-p">
            <h4>Training</h4>
            <p>CrossFit is a core strength and conditioning programme that combines aerobic and anaerobic resistance exercises that incorporate high-intensity interval training, Olympic weightlifting, powerlifting, and gymnastics. Workouts are designed to promote strength, endurance and flexibility through constantly varied movements that stress multiple energy systems at high intensity with little rest.</p>
        </div>
        <div class="sports-p">
            <h4>Nutrition</h4>
            <p>Nutrition is a foundation for fitness and health for CrossFit and is viewed as the basis for physical movements. The CrossFit dietary prescription focuses on macronutrient ratio prescription of foods with particular focus on consumption of whole foods and elimination of processed foods whilst promoting a high protein intake. Individuals participating in CrossFit are encouraged to work with our Accredited Sports Dietitian plans to determine an appropriate carbohydrate intake based on training volume and individual body size.</p>
        </div>

    </div>
    <div class="allprof">
        {{#each crossProf}}
        <div class="professional-card">
            <h2>{{name}}</h2>
            <img class="professional-img {{_id}}" src="{{imageUrl}}" alt="{{name}}"/> 
            <div class="prof-details"> 
                <p>Email: {{email}}</p>
                <p>Specialities: {{sport}}</p>
                <p>Profession: {{profession}}</p>
                <a href="/site/professional/{{_id}}">See more</a>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="/all-sports"><button class="filter-btn">All Sports</button></a>
</section>