
<section class="all-profs">
    <h2>Swim</h2>
    <div class="one-sport">
        <div class="sports-p">
            <h4>Training</h4>
            <p>Swimming requires a dedicated commitment to training, with elite swimmers training 6 to 12 times per week. Depending on the race distance, training sessions can cover up to 10km and include 1-2km of high-intensity sprints. As well as water based session, weight training sessions should be completed several times a week by elite swimmers. </p>
        </div>
        <div class="sports-p">
            <h4>Nutrition</h4>
            <p>Individual nutrition requirements will be determined by training load, specific athlete needs, training goals, body composition goals, health and adjustment for growth in younger athletes. Typically, training sessions are held early in the morning and as a result some swimmers skip breakfast before training for stomach comfort, lack of appetite or to sneak in an extra 10 minutes sleep! Ideally, swimmers should aim to eat breakfast or a light snack prior to training to maximise performance – especially for key training sessions. Liquid meal drinks or milk tetra packs can be useful for fuelling and stomach comfort, especially when appetite is poor.</p>
        </div>

    </div>
    <div class="allprof">
        {{#each swimProf}}
        <div class="professional-card">
            <h2>{{name}}</h2>
            <img class="professional-img {{_id}}" src="{{imageUrl}}" alt="{{name}}"/> 
            <div class="prof-details"> 
                <p>Email: {{email}}</p>
                <p>Specialities: {{sport}}</p>
                <p>Profession: {{profession}}</p>
                <a href="/site/professional/{{_id}}">See more</a>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="/all-sports"><button class="filter-btn">All Sports</button></a>
</section>